---
import Logo from '../assets/astro.svg'
---
<footer class="bg-gray-100 text-gray-500 text-sm">
    <a href=""><Logo/></a>
    <nav class="gap-12 space-y-7 columns-2 p-8">
        <div>
            <h3 class="font-bold uppercase">
                Sell a Home
            </h3>
            <ul class="text-gray-500">
                <li>
                    <a href="">Request an offer</a>
                </li>
                <li>
                    <a href="">Pricing</a>
                </li>
                <li>
                    <a href="">Reviews</a>
                </li>
                <li>
                    <a href="">Stories</a>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="font-bold uppercase">
                Buy a Home
            </h3>
            <ul class="text-gray-500">
                <li>
                    <a href="">Buy</a>
                </li>
                <li>
                    <a href="">Finance</a>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="font-bold uppercase">
                Buy, rent and sell
            </h3>
            <ul class="text-gray-500">
                <li>
                    <a href="">Buy and sell properties</a>
                </li>
                <li>
                    <a href="">Rent Home</a>
                </li>
                <li>
                    <a href="">Builder trade-up</a>
                </li>
            </ul>
        </div>
        <div  class="break-inside-avoid">
            <h3 class="font-bold uppercase">
                Terms & privacy
            </h3>
            <ul class="text-gray-500">
                <li>
                    <a href="">Trust & Safety</a>
                </li>
                <li>
                    <a href="">Terms of Service</a>
                </li>
                <li>
                    <a href="">Privacy Policy</a>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="font-bold uppercase">
                About
            </h3>
            <ul class="text-gray-500">
                <li>
                    <a href="">Company</a>
                </li>
                <li>
                    <a href="">How it works</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
                <li>
                    <a href="">Investors</a>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="font-bold uppercase">
                Resources
            </h3>
            <ul class="text-gray-500">
                <li>
                    <a href="">Blog</a>
                </li>
                <li>
                    <a href="">Guides</a>
                </li>
                <li>
                    <a href="">FAQ</a>
                </li>
                <li>
                    <a href="">Help Center</a>
                </li>
            </ul>
        </div>
    </nav>
    <hr>
    <p class="text-center p-10">©2025 Astro. All rights reserved</p>
</footer>